<h1>Listing fs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fs.each do |f| %>
  <tr>
    <td><%= f.name %></td>
    <td><%= f.desc %></td>
    <td><%= link_to 'Show', f %></td>
    <td><%= link_to 'Edit', edit_f_path(f) %></td>
    <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New F', new_f_path %>
